@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-link {
  position: relative;
}

.nav-link::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -4px;
  left: 0;
  background-color: #3b82f6; /* Tailwind's blue-500 */
  transition: width 0.3s ease-in-out;
}

.nav-link:hover::after {
  width: 100%;
}